
.DS_Store
qr-code-component/design/desktop-design.jpg
qr-code-component/design/desktop-preview.jpg
qr-code-component/design/mobile-design.jpg
qr-code-component/img/image-qr-code.png
qr-code-component/README-template.md
qr-code-component/README.md
qr-code-component/style-guide.md
